[2013-09-06 23:28] stevenosloan opened #1 "Format links"
would be cool to take html or markdown links and format them for slack

[code]

[2013-09-07 00:12] #1 closed, assigned to nobody

[2014-03-26 18:19] stevenosloan opened #5 "Do a check that channel names start with "#""
It's required by slack and not checked, this should be really easy to auto-correct and prevent confusion like this: https://github.com/gitlabhq/gitlabhq/pull/6550#issuecomment-38146997

[2014-03-28 19:13] #5 closed, assigned to nobody

[2014-04-10 12:55] mblumtritt opened #7 "it should be allowed to send to a channel starting with '@'"
Channels can also start with '@'. When I want to inform my account or a dedicated person then I need to specify '@person.name' as the channel name.

[2014-04-14 17:43] #7 closed, assigned to nobody

[2014-05-11 01:10] dlackty opened #8 "Can't send message to private groups"
After #6, I tried to port this change to similar libraries in different languages. However, someone pointed out that "Slack uses no prefix for private groups", so this "automatically add # prefix" approach make it impossible to send message to private groups.

I saw you made a change for private message in b85a3d12f60701833f5bee4b7504c30874555279, but had no idea how we could workaround this witho

[2014-05-14 14:21] #8 closed, assigned to nobody

[2014-05-23 15:36] adambair opened #9 "Consider a different interface."
slack = Slack::Client.new(whatever)
slack.notify(whatever)

Thinking out loud. If I feel strongly enough after messing with it for a few days, I'll send a pull request your way.

[2014-05-23 15:40] #9 closed, assigned to nobody

[2014-09-29 16:08] mikecarroll opened #13 "Is it possible to send the full stack trace of the exception as an attachment?"
Would be nice to have all the stuff you typically get in an exception e-mail (Request, Session, Environment, etc.) in the Slack notification as well.

Right now all I see is the exception explanation and the line in the code it occurred on in the notifier.

[2014-09-30 12:56] #13 closed, assigned to nobody

[2014-10-18 05:22] akira-hamada opened #14 "LinkFormatter.format method doesn't work, if a line includes multiple links"
`LinkFormatter.format` method doesn't render text correctly in Slack, if a line includes multiple links.

procedure for reproducing the bug is  following. thanks in advance. :)

[code]

[2014-10-21 15:47] #14 closed, assigned to nobody

[2014-10-22 08:36] vahtel opened #15 "Allow to configure web hooks with URL"
It looks like Slack has changed the web hook configuration part and they give you an URL instead of API key.
Example: https://hooks.slack.com/services/X5G17EP/B02Q12GT/3adCJ2j7royDvVmUwCj8e

The last part _3adCJ2j7royDvVmUwCj8e_ is the API key that I can still use.

It would be nice to init the notifier like:
notifier = Slack::Notifier.new "https://hooks.slack.com/services/X5G17EP/B02Q12GT/3adCJ2j

[2014-10-23 16:47] #15 closed, assigned to nobody

[2015-02-02 01:11] xiaoronglv opened #17 "Could you add default timeout?"
Hi @stevenosloan ,

slack-notifier is a wonderful gem. I use it to send notification in [exception_notification](https://github.com/smartinez87/exception_notification) (a  rails / sidekiq error monitor).

Sending message is a slow IO operation which will block our App. Sometime it will frozen sidekiq worker.

https://github.com/mperham/sidekiq/wiki/Problems-and-Troubleshooting#frozen-workers

Coul

[2015-02-02 21:32] stevenosloan commented on #17
Yeah, that'd be a great inclusion to the [DefaultHTTPClient](https://github.com/stevenosloan/slack-notifier/blob/master/lib/slack-notifier/default_http_client.rb). I'll take a look when I get a little more time later this week.

In the mean time, you could roll your own [injecting your own HTTP client](https://github.com/stevenosloan/slack-notifier#custom-http-client) if needed, or PR's are more t

[2015-02-04 21:32] jayroh opened #18 "Warn if initializing with the old method signature"
Hey Steven!

I was just bit by a little something. I (finally) got around to updating some gems and when I rolled out my changes to our staging app we started seeing the following exception - `TypeError: no implicit conversion of Symbol into String` with the following stack-trace:

[code]

Because I replace `Slack::Notifier` with a custom `FakeSlack::Notifier` in our test environment ... my tests

[2015-02-04 23:10] stevenosloan commented on #18
Yeah I think giving something more useful would be helpful. Sorry you got bit by that, this is an unfortunate case where going from `0.x.x` to `1.0.x` doesn't really capture this type of change.

A PR would be great. Are you thinking of supporting both signatures or just a warning? I feel like raising a custom exception for that (with a helpful message pointing to the [docs](https://github.com/ste

[2015-02-05 02:11] jayroh commented on #18
I was leaning towards just a warning but if the old signature works (does it? I have a hunch it does?) then I *might* play with that a little bit. The options are

1. Detect 2 strings being passed. -> `Kernel.warn "Message with link to the docs w/updated signature info."`
2. Detect 2 strings -> use old strategy -> `Kernel.warn` with info on the new strategy / link.

I'm leaning towards option 1 be

[2015-02-05 17:14] stevenosloan commented on #18
Yeah, I definitely agree that supporting the old signature is a bit much at this point. I might lean towards raising vs. warning as it'll end up hitting an exception anyway.

[2015-02-05 19:07] jayroh commented on #18
Noted! I'll get some code together sometime over the next few days and
we'll go from ther.

On Thu, Feb 5, 2015 at 12:14 PM, Steven Sloan <notifications@github.com>
wrote:

[2015-02-05 20:31] stevenosloan commented on #18
Sounds good, thanks @jayroh

[2015-02-09 21:00] stevenosloan commented on #17
Hey @xiaoronglv, I just pushed out version 1.1.0 that includes the option to set http options like `open_timeout`. You can set that at either initialization for when you call ping.

[code]

[2015-02-09 21:00] #17 closed

[2015-02-10 09:24] xiaoronglv commented on #17
Thanks.

:+1:

[2015-02-25 14:41] samfreeosk opened #19 "Program Report is showing >1 row for clubs"
![image](https://cloud.githubusercontent.com/assets/5270909/6372364/4e9adfd4-bcc9-11e4-9ec5-b69db6eb7516.png)

[2015-02-25 14:42] #19 closed

[2015-03-09 22:34] treeder opened #20 "Would be nice to prepend the hash to channel name"
I was getting 500 errors back from slack API with no clue about why (shame on you slack) and it turns out it was because I didn't have the hash prepended to the channel. Would be nice if slack-notifier did it for you if it doesn't see a hash.

[code]

[2015-03-10 16:20] stevenosloan commented on #20
That *was* actually a feature back in the [begining](https://github.com/stevenosloan/slack-notifier/issues/5), but had to be removed to allow sending to individual users or private rooms. See #7 and #8 for more information.

[2015-03-10 16:20] #20 closed

[2015-03-11 00:23] treeder opened #21 "Could you add icon_url to set the bots icon?"
From docs:

[code]

[2015-03-11 14:42] stevenosloan commented on #21
You can pass that in as additional options, there's docs [here](https://github.com/stevenosloan/slack-notifier#additional-parameters). If I'm remembering correctly you should be able to set that as a default as well and not just on `#ping`.

[2015-03-11 18:49] treeder commented on #21
Oh, perfect. Thanks.

[2015-03-11 18:49] #21 closed

[2015-03-12 13:56] monkbroc opened #22 "Dummy client in development"
Hi,

I only want to send events to Slack in production, not in development.

I was thinking of creating a Slack::DummyNotifier that implements the same methods as Slack::Notifier all as no-ops.

Would you consider pulling this into the gem if I send a pull request?

Any other way you are using to avoid flooding Slack while developing?

[2015-03-12 15:16] stevenosloan commented on #22
Personally I pass in a dummy http client, it just needs to accept `::post`. Then you can check/log/ignore any of the actual posting to slack. A no-op example:

[code]

[2015-03-13 00:14] monkbroc commented on #22
OK. Both ways accomplish the same goal.

It would be great to have that in the README. I was looking in there for a recommended way to ignore requests in development.

Adding what you wrote under the Custom HTTP Client section would be sufficient: "For example to send events to Slack in production, not in development, create a dummy http client. Then you can check/log/ignore any of the actual post

[2015-03-13 15:23] #22 closed

[2015-03-13 15:25] stevenosloan commented on #22
Ah yeah, more accurately I should have said "Personally I would...", I hadn't actually thought of this case.

Added a note to the readme, thanks!

[2015-03-13 15:54] monkbroc commented on #22
:+1: Thanks Steven

[2015-03-15 20:54] shlima opened #23 "Add a test mode"
Which will be not perform a real HTTP request and actually do nothing

[2015-03-16 14:02] stevenosloan commented on #23
See #22 for other discussion, or there's an example of how to accomplish that in the ["no-op" section for custom http clients in the readme](https://github.com/stevenosloan/slack-notifier#custom-http-client).

[2015-03-21 13:27] shlima commented on #23
@stevenosloan this works, thanks

[2015-03-21 13:27] #23 closed

[2015-05-04 09:11] thcottin opened #28 "Language accent not displayed properly in Slack"
Hi @stevenosloan,

Thanks for this wrapper that's very useful. I have a problem though with french accent being rendered as question marks when they land in Slack when posted with your client.

I tried a manual curl to my Slack webhook and accents are parsed ok.
Could you help me on this?

Thanks !

[2015-05-04 10:16] xareelee opened #29 ""\xE4" on US-ASCII"
I ran **slack** function by **fastlane** and got the following error message (`"\xE4" on US-ASCII`):

[code]

I think I didn't use a character `ä` (\xE4) for the parameter `message`. Any idea or suggestion about this?

[2015-05-04 13:48] stevenosloan commented on #28
Hey @thcottin, do you mind trying it off of the master branch of github? I had a fix I merged in and got caught up w/ things at work before being able to release.

[code]

[2015-05-04 15:27] stevenosloan commented on #29
Hmmm, that is odd -- it *may* be related to this (https://github.com/KrauseFx/fastlane/issues/227), but maybe not. Do you think you could try w/ slack-notifier from git and see if that fixes the issue?

[code]

[2015-05-12 18:18] thcottin commented on #28
Hey @stevenosloan, sorry I missed your answer. Just tried it and still get a question mark instead of a "â". Should I escape the string before?

[2015-05-14 14:51] stevenosloan commented on #28
Hmm, interesting. Do you happen to know what encoding the string is before it's passed to slack notifier?

Scrub *should* only replace unrecognized characters, but I'm not sure how that ends up acting w/ different encodings. (everything I've done has been UTF-8 => UTF-8)

[2015-05-14 18:35] thcottin commented on #28
I'm pretty sure it's UTF-8. Same problem if I force the UTF-8 encoding anyway. I keep trying things out, will let you know if I find a fix.

[2015-05-14 18:47] thcottin commented on #28
I have just tried muting the "fix_encoding" method in the LinkFormatter and accented characters are displayed correctly in Slack. Any idea why it's doing this?
Thanks!

[2015-05-14 19:05] stevenosloan commented on #28
No that's really odd -- all that's doing (from master at least) is calling `#scrub` on the string. You're trying it with the github master version right? The fix_encoding method shouldn't be present anymore.

[2015-05-17 08:57] thcottin commented on #28
Issue solved using the master branch! I don't know why it did not work before. Thanks again for your help!

[2015-05-17 09:34] nafu commented on #28
@stevenosloan
Thanks this feature.
https://github.com/stevenosloan/slack-notifier/commit/a68a5eaa07f2aebac7c039d06ba310f2170dbe75#diff-dd9694ea955bfd766a80d7c92a1b4d57R56

Could you update the gem version?
I'm looking forward to it.

[2015-05-17 09:38] mono0926 commented on #28
Oh, it is a coincidence!
I cannot post Japanese message :jp:

I'm looking forward to it :sweat_drops:

[2015-05-18 03:04] stevenosloan commented on #28
thanks for the reports, fix is out now in `1.2.1` :tada:

[2015-05-18 03:04] #28 closed

[2015-05-18 04:16] nafu commented on #28
Thanks a lot. :smile:

[2015-05-18 04:19] mono0926 commented on #28
Great :tada:

[2015-05-20 04:25] xareelee commented on #29
This problem has been fixed after updating fastlane. Thanks for your help.

[2015-05-27 01:48] korabh opened #30 "`rescue in split': bad URI(is not URI?)"
@stevenosloan Using Hash values in initialize Slack::Notifier.new return this error

/Users/**/.rbenv/versions/2.2.1/lib/ruby/2.2.0/uri/rfc3986_parser.rb:17:in `rescue in split': bad URI(is not URI?):  (URI::InvalidURIError)
	from /Users/**/.rbenv/versions/2.2.1/lib/ruby/2.2.0/uri/rfc3986_parser.rb:14:in `split'
	from /Users/**/.rbenv/versions/2.2.1/lib/ruby/2.2.0/uri/rfc3986_parser.rb:72:in `pars

[2015-05-27 14:28] stevenosloan commented on #30
Are you passing it the webhook url?

Initialization w/ hash defaults should look like this:
[code]

[2015-05-27 15:20] stevenosloan commented on #29
No worries, glad to help.

[2015-05-27 15:20] #29 closed

[2015-05-27 20:37] korabh commented on #30
It works when I use it as "WEBHOOK_URL" but trying to fetch same url from hash like params[:webhook] throw `rescue in split': bad URI(is not URI?): (URI::InvalidURIError)

[2015-05-27 21:50] stevenosloan commented on #30
Hmm, I guess I'm confused on what you're trying to do. When initialized you're required to pass the webhook url as the first parameter.

Can you explain your case a little further? (examples & reasoning why you're calling it that way)

[2015-05-27 22:35] korabh commented on #30
Well, I'm trying to fetch from .yml file a list of config eg.
slack:
  hook: "https://hooks.slack.com/services/URL"
  channel: "#channel"
  username: "username"

Then using this config file we convert it to hash like
params = {:hook=>"https://hooks.slack.com/services/**", :channel=>"#channel", :username=>"webhook"}
we pass params on initialize method
Slack::Notifier.new params[:hook], channel: par

[2015-05-28 15:16] stevenosloan commented on #30
That should definitely work. One thing with `URI#parse` is that it's error messages are super non-descriptive -- so I'm thinking *maybe* you're actually passing in a nil value.

How are you loading the yaml file? w/ standard lib the keys are going to be strings so you may actually end up with a hash like:
[code]

And then need to access it like so:
[code]

But that's just a guess based on things I

[2015-05-28 21:40] korabh commented on #30
I thought it might be this but then I inspect this class and it return correct values.
[code]

[2015-05-28 21:44] stevenosloan commented on #30
Looks like your `Weebo::Slacky` instance has a properly initialized `Slack::Notifier` instance -- where is it failing?

[2015-05-30 11:06] korabh commented on #30
Got it, Thank you.

[2015-06-08 02:29] #30 closed

[2015-07-08 02:23] sillygwailo opened #32 "Is sending on unfurl_links: true possible?"
I have an issue over at Huginn, where I want to send `unfurl_links: true` over with a payload, but I wonder if it's possible at all with the `slack-notifier` gem?

(My issue with Huggin is at https://github.com/cantino/huginn/issues/892 )

[2015-07-08 15:36] stevenosloan commented on #32
Yeah it's definitely possible. It's passed along like any of the other option:

[code]

From testing though it does look like it's a bit inconsistent, especially if you've posted the same link recently it won't unfurl.

[2015-07-08 22:57] sillygwailo commented on #32
Looks like it does work. I have a pull request in with Huginn that adds `unfurl_links` to the options it sends to `slack-notifier`. Thanks!

[2015-07-08 22:58] #32 closed

[2015-07-24 20:42] MrPowers opened #34 "Make the gem terminology consistent with the Slack API"
Would you be willing to make the gem terminology consistent with the Slack API.  For example, the gem uses "channel" and "username", but the API uses "channel_name" and "user_name" (the Slack POST response uses this terminology at least: https://api.slack.com/slash-commands).  Do you think the terminology should be consistent?  Would the change have to be backwards compatible?

[2015-07-24 21:22] stevenosloan commented on #34
I would be up to it, but we're following Slack's conventions for the [webhooks](https://api.slack.com/incoming-webhooks) which are `channel` and `username`. Funny that they're inconsistent w/ those though.

[2015-08-25 16:11] #34 closed

[2015-09-29 08:58] pravi opened #38 "request to follow SemVer/mention it in README"
Do you follow semantic versioning defined at semver.org? If yes, can you mention it in README. If not, can you consider it?

[2015-09-29 09:01] pravi opened #39 "request to follow SemVer/mention it in README"
Do you follow semantic versioning defined at semver.org? If yes, can you mention it in README. If not, can you consider it?

[2015-09-30 04:35] stevenosloan commented on #39
I do, and good call on adding [a note to the readme](https://github.com/stevenosloan/slack-notifier#versioning).

Also happy do discuss versioning choices if you have any specific questions :)

[2015-09-30 04:35] #39 closed

[2015-09-30 04:35] stevenosloan commented on #38
closing in favor of #39

[2015-09-30 04:35] #38 closed

[2015-09-30 10:35] pravi commented on #39
thanks @stevenosloan

[2015-10-05 07:48] martijnrusschen opened #40 "Is it possible to send a message to multiple channels at once?"
Not sure if this is supported or not, but would like to send a message to multiple channels at once.

[2015-10-05 16:24] stevenosloan commented on #40
I don't think that it is, at least with just a single call to slack. (if there is a way w/ the slack api I'm happy to make any necessary adjustments to support it)

Depending on your requirements you'd probably want to do this in forked processes with some kind of error handling, but pinging while iterating over the channels you want would get close.
[code]

[2015-10-14 22:52] technicalpickles opened #42 "Format URLs as Slack links"
If you want to send URLs in Slack, you need to [format them](https://api.slack.com/docs/formatting) as such so they are clickable. Without that, they are just plain text.

`LinkFormatter` already does markdown and html links, so that is a logical place to put it. I've been trying to figure out how to do this, but the hard part is that you need to regex to match the URL but *not* match an html or m

[2015-10-14 23:09] technicalpickles commented on #42
It took reading the [Regexp documentation](http://ruby-doc.org/core-2.2.0/Regexp.html#class-Regexp-label-Anchors) around anchors and lookahead/behinds, but I found a way to do it. Basically, process markdown and html links first, then use negative lookahead and lookbehind to make sure it's not matching brackets for links that have been added already.

[code]

[2015-10-15 16:13] stevenosloan commented on #42
Reading the docs (https://api.slack.com/docs/formatting#parsing_modes) and testing slack will already auto-detect bare urls. Are you running into cases where that isn't happening?

Modified integration test for example:

[code]

<img width="484" alt="screen shot 2015-10-15 at 12 12 34 pm" src="https://cloud.githubusercontent.com/assets/868115/10519962/0bfb63d2-7336-11e5-96d2-60dbc355bdd8.png">

[2015-10-15 17:20] technicalpickles commented on #42
@stevenosloan I'm actually using `Slack::Notifier::LinkFormatter` on its own to format text for a Slack export (ie something that is compatible when you export a team, in order to import it). It's outside of the normal use case, so I'm okay with closing if it works as expected for notifying slack.

[2015-10-15 18:08] stevenosloan commented on #42
oh ic, that makes sense. I think it'd be worth adding, but only run if you pass a flag to the `::format` -- lets say `autolink` just to match redcarpet. So using it could look something like:

[code]

[2015-10-16 07:16] stevenosloan commented on #42
Sorry @technicalpickles, I was hopping to get this out tonight. I realized that adding the link formatter options should really be a 2.0 feature, and include things like setting escaping (https://github.com/stevenosloan/slack-notifier/pull/35).

That said, depending on how the day job goes, hopefully won't be too far off for that. But let me know if you need any help w/ getting a LinkFormatter pos

[2015-10-16 07:17] stevenosloan commented on #40
@martijnrusschen did that answer your question ok?

[2015-10-29 16:04] bhushangahire opened #45 "JIRA ticket channel."
Does anyone know if there is channel available for JIRA to create tickets if we get exception ?

[2015-10-30 22:43] stevenosloan commented on #45
Hey @bhushangahire seems like this [integration from zapier](https://zapier.com/zapbook/zaps/2415/add-new-slack-messages-to-jira-as-new-issues/) (albiet not free) is the easiest way to get that going. From what I could tell the official integration is JIRA => Slack only.

[2015-11-01 05:11] stevenosloan opened #46 "2.0.x Roadmap"
Hi Users. Y'all have been fantastic, truely. This Gem is now at over 1 million downloads thanks to you -- and I'm shocked. I never expected this pet project to create such a buzz. I guess other people appreciated a simple interface to just send a message to slack.

With some recent issues I'm seeing a common thread of changes necessary that I believe will lead to the 2.x version of the library, bu

[2015-11-26 13:27] JeanMertz opened #48 "Stack trace when leaving out message"
[code]

[code]

I believe this is a valid format, sending *only* an attachment, correct?

[2015-11-27 13:02] martijnrusschen commented on #40
Thanks for answering the question. I guess this isn't supported at all by the API. Will let you know if I see something different.

[2015-11-27 13:02] #40 closed

[2015-11-30 04:05] #48 closed

[2015-11-30 04:07] stevenosloan commented on #48
Yeah definitely -- I just hadn't considered that case. Should be good now w/ 1.5.0

[2015-11-30 11:01] JeanMertz commented on #48
:+1: thanks for that.

[2015-12-02 23:38] barmstrong opened #49 "Does this support receiving messages?"
e.g. creating a bot etc

if not, any reason why it couldn't be added? i believe the webhook url supports this

[2015-12-03 17:29] stevenosloan commented on #49
It does not -- and reasons for it not to would be complexity I guess.

Maybe you could describe your use case a bit more though? To support receiving the messages we'd need to have a small web stack (at minimum a little rack app, if not Roda or Sinatra) to take in the messages and then hand off to whatever is handling the commands. By that point I would think that it'd be better to defer to the us

[2015-12-28 15:22] mrudult opened #50 "Does it support sending messages in background? Using something like Sidekiq?"
e.g When using in rails, I don't want the notifier to hog the request time.

Is this possible?

[2015-12-28 17:16] farski commented on #50
Yep

[2015-12-29 03:59] stevenosloan commented on #50
Yeah, as @farski said, it's definitely possible. You would set it up like any other background job you need to process.

A silly (untested, unoptimized) example using sidekiq that lets us know if our fictional "/foo/ping_me"  route is visited:

[code]

[code]

Hope that helps.

[2015-12-29 07:22] mrudult commented on #50
Will try it. Thanks for the help.

[2016-01-08 11:11] #50 closed

[2016-01-15 16:06] knagode opened #51 "Direct messages"
Is it possible to send direct message as well with slack-notifier?

[2016-01-15 16:34] stevenosloan commented on #51
Yep! Just set the channel name w/ `@` before the username. For example to notify me:

[code]

[2016-01-15 16:35] knagode commented on #51
wow. Awesome. Thanks!

[2016-01-15 18:54] #51 closed

[2016-01-18 10:40] Elektron1c97 commented on #46
What about the availability to pass a boolean to set if the attachment's text should be formatted or not.
According to [this code](https://github.com/stevenosloan/slack-notifier/blob/master/lib/slack-notifier.rb#L22-L28), this can't be done.

[2016-01-20 16:41] stevenosloan commented on #46
Yeah, good call, thats definitely something I'd like to be configurable.

[2016-01-21 10:47] Elektron1c97 commented on #46
I think the "Hack" [right here](https://github.com/stevenosloan/slack-notifier/blob/master/lib/slack-notifier.rb#L18-L20) should be improved. It's very hard to add some flags like I suggested. Because the payload param (passed to `Slack::Notifier::PayloadMiddleware::Legacy#call`) has 2 different structures depending on the passed values in `Slack::Notifier#ping`.
E.g.
with a message:

[code]

with

[2016-01-21 23:04] stevenosloan commented on #46
Yeah definitely. As soon as I wrote that I've been thinking of releasing a final `1.x` release that includes the "argument assignment dance" (whatever that's properly called) and tosses out a depreciation warning it two args are passed. Have it use the legacy middleware out of the box, so should show the same behavior as 1.5.1; allow for adding additional middleware if desired; and hint at moving

[2016-01-22 15:44] Elektron1c97 commented on #46
This sound perfect!

I like the configure block :heart_eyes:.
The idea of having a `post` method with only a hash as an argument makes it much more easier to handle the flags and everything!
The "argument assignment dance" with deprecation warning is :ok_hand: !

If you have something I can help with, just ask.

Cheers :beers:

[2016-01-26 19:35] sethherr commented on #49
Ok. So I made something to actually accept a url (using this gem).

It isn't generalized yet, it only works for github labels on issues on pull requests, but it will expand. Also, it's open source so if you want to add something please do! https://github.com/Reliefwatch/slack-reconciler

[2016-02-05 09:22] stevenosloan commented on #49
@barmstrong going to close, I think this is answered. Feel free to open again.

[2016-02-05 09:22] #49 closed

[2016-02-05 09:22] stevenosloan commented on #45
@bhushangahire going to go ahead and close this as I think it's answered. Feel free to open back up if not.

[2016-02-05 09:22] #45 closed

[2016-03-23 02:28] michaelimstepf opened #54 "Async call"
We send slack messages when our users create a booking and don't want the messaging blocking the booking process.

Would an [async call](https://github.com/TidyMe/slack-notifier/commit/d2894db5437974e165e51c11cc63f0177472c402) make sense for this gem? If yes, I can open a pull request.

[2016-03-23 09:54] Elektron1c97 commented on #54
I would implement it like this:

[code]

But anyway a good point.. but I don't know if it's necessary.

[2016-03-23 19:33] stevenosloan commented on #54
Thanks @Elektron1c97, another option would be to build an async http client, or send it to a background worker (if you have one, see: https://github.com/stevenosloan/slack-notifier/issues/50#issuecomment-167714843). My general feeling is to keep async pinging out of the core lib since the best way to handle it can vary so much application to application.

[2016-03-24 06:11] michaelimstepf commented on #54
Thanks guys, let me know what the final decision on this is. The idea came to me after I used this [async method](https://github.com/codelittinc/slacked#to-send-an-async-message-to-slack-use-the-method).

As I mentioned before, for us it's useful as the booking form already takes a long time to process and we don't want any further hold ups. Background workers are an option but a bit heavy handed

[2016-03-24 08:25] Elektron1c97 commented on #54
as @stevenosloan said it's not needed in the core lib..
But if you want it like this anyway you can make your own patch for this :grin:

Or just create an async job or an async http client. (Relatively easy)

[2016-03-24 09:23] michaelimstepf commented on #54
Cool, will patch then. Thanks

[2016-03-24 09:23] #54 closed

[2016-03-24 14:42] stevenosloan commented on #54
I fully support freedom patching in this situation :)

Thanks guys

[2016-04-21 10:22] ZombieHarvester opened #57 "File upload to Slack channel?"
Hi there! Thanks for the awesome gem!

Is it possible to send a file to a Slack channel? Seems their api allows that: https://api.slack.com/methods/files.upload

[2016-04-22 15:39] stevenosloan commented on #57
It doesn't look like it's possible with the webhooks (which is how this gem works), so you'd need to use a client that uses the web api ([slack-ruby-client](https://github.com/dblock/slack-ruby-client) or one of the other [community projects](https://api.slack.com/community#ruby))

[2016-04-22 20:37] ZombieHarvester commented on #57
got it, thanks @stevenosloan

[2016-04-22 20:37] #57 closed

[2016-06-23 21:09] jschwendt opened #58 "Message Buttons support"
Any idea if someone was planning to add Message Button support?  This is a hugely valuable feature!

https://api.slack.com/docs/message-buttons

[2016-06-23 23:20] stevenosloan commented on #58
That looks really neat -- I *think* from looking over the docs you can pass the params you'd need already. You'd just be left on your own to set up the notifier as a slack app.

I'm happy to take any PRs that would make that process more straightforward.

[2016-07-28 10:49] Dirk23 opened #60 "How do i use use "fields" in attachments"
I try to implement the fields described [here](https://api.slack.com/docs/message-attachments):
[code]
My Syntax for your class is:
[code]

without the fields everything works fine, but i dont get those fields displayed. How do i need to set them up?

Regards

Dirk

[2016-07-28 10:50] #60 closed

[2016-07-28 10:51] Dirk23 commented on #60
Typo: missed a "," after fields.

Sorry for that issue

[2016-08-26 22:04] aacook commented on #58
I'm also in the middle of setting this up. Not sure if the extra parameters I'm sending are being sent through. For my use case, I'm trying to pass replace_original (https://api.slack.com/docs/message-buttons#overview):
`$ notifier.ping text: text, attachments:attachments, replace_original: false`

But it looks like Slack is replacing my messages. Am I using the wrong syntax?

[2016-08-26 23:23] stevenosloan commented on #58
@aacook that looks correct for me -- it may be I don't have an app set up so I don't have buttons actually working (just showing up), but seems to always just append another message for me:

[code]

If you keep running into trouble, I'd suggest checking the actual params that get posted and seeing if slack support will help you out. You can do that with a "logger" http client to dump what would ha

[2016-08-30 20:01] kmuthupa opened #62 "Is there a way to ping multiple channels?"
Does the API currently support pinging multiple channels with the same message?

[2016-08-31 11:31] Elektron1c97 commented on #62
I can't find something like that in the API documentation. I think you need to do it that way at the moment:

[code]

[2016-08-31 12:36] kmuthupa commented on #62
I figured after I looked at the API. I ll stick to doing multiple pings for now. Thanks anyway!

[2016-08-31 12:36] #62 closed

[2016-09-01 12:08] aacook commented on #58
Thanks, appreciate it. Turns out it wasn't working for an unrelated reason. Everything's running beautifully now.

[2016-09-01 16:11] stevenosloan commented on #58
Awesome!

[2016-09-01 16:11] #58 closed

[2016-09-29 23:07] greg-moovel commented on #40
This would be a convenient feature, I'm on a DevOps team, and we frequently have to bounce into 3-5 channels to give me a head's up on updates/potential outages.

[2016-10-11 14:29] Erowlin opened #63 "Send snippet using Slack API"
Hi,

Not really an issue, but is it possible to create a message including a snippet from the API using a specific markup ? I cannot see anything related in Slack documentation.

Thanks.

[2016-10-12 06:38] stevenosloan commented on #63
mmmm, yeah I couldn't find anything documentation wise for that either. I'd imagine it's some special formatting for attachments, but don't have anything to really back up that idea.

If you could hit up https://slack-notifier.slack.com/help/requests/new (they've been super nice for me in the past) to get some info, that'd be awesome. I'm happy to make any changes to the lib necessary to make the

[2016-10-12 11:41] Erowlin commented on #63
Thank you for the feedback.

I will send them a message and let you know if I have some news.

[2016-10-14 11:09] Erowlin commented on #63
Some news, here is the answer from Slack

I believe they are not gonna support snippet upload using markup - and that's sound normal for me since it involves uploading a file.

[2016-10-17 09:29] Erowlin commented on #63
Another response from the Slack team :

[2016-10-18 20:27] stevenosloan commented on #63
Hey @Erowlin thanks for tracking that down.

Unfortunately I do think it ends up being a bit out of scope. While it'd be great and would fit into the philosophy of being "the simplest way to post to slack", adding (or changing) to use the full web api vs. webhooks interface would be a bit much. That's more in the realm of [full featured api clients](https://github.com/slack-ruby/slack-ruby-client#

[2016-10-27 15:55] Erowlin commented on #63
Ok, thanks for your answer !

[2016-10-27 15:55] #63 closed

[2017-01-02 21:28] #46 closed

[2017-03-14 13:45] alonhartal opened #67 "adding attachments into messages"
https://api.slack.com/methods/files.upload

[2017-03-14 16:19] stevenosloan commented on #67
@alonhartal do you mind expanding on what your question/proposal is? (it's possible https://github.com/stevenosloan/slack-notifier/issues/57 addresses it)

[2017-03-24 22:10] CasJ opened #68 "Error when using ping to send a message"
I'm trying this:
irb(main):013:0> notifier = Slack::Notifier.new "https://hooks.slack.com/services/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2K", channel: "#qe", username: "notifier"

Then:
irb(main):014:0> notifier.ping "Hi", channel: "#qe"

I get this error message:
URI::InvalidURIError: bad URI(is not URI?): https://https://hooks.slack.com/services/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

[2017-03-25 06:34] CasJ commented on #68
Nevermind, looks like the version I was using of slack-notifier was very old 0.5 .... I forgot to run bundle update and for some reason that is the version that got installed

[2017-03-25 06:34] #68 closed

[2017-04-11 22:00] okashino opened #70 "Syntax Error: unexpected tLABEL"
Getting the following error when trying to load the gem:
``
/gems_path/.gem/ruby/1.9.1/gems/slack-notifier-2.1.0/lib/slack-notifier.rb:6:in `require_relative': /gems_path/.gem/ruby/1.9.1/gems/slack-notifier-2.1.0/lib/slack-notifier/util/link_formatter.rb:20: syntax error, unexpected tLABEL (SyntaxError)
        def initialize string, formats: [:html, :markdown]

[2017-04-12 14:07] stevenosloan commented on #70
As of 2.0 support for ruby 1.9.3 was dropped so I could use keyword arguments ([1.9.3 has been EOL for more than two years](https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015/)).

If you drop back to 1.5.1 you should be fine, but check [it's readme](https://github.com/stevenosloan/slack-notifier/blob/6e6a4df20b9ec8680d9ee1dcf7cb6f0b6d511dbd/readme.md) since the call signature

[2017-04-12 14:47] okashino commented on #70
Thanks for the clarification! I agree with you that the readme/changelog should be updated with this information.

[2017-04-12 14:47] #70 closed

[2017-04-23 02:44] llamicron opened #71 "Passing array into ping has some weird side effects"
First off, I have added on to the ping method. Here's my `ping` method:
[code]
You can ping a string line normal, but you can pass through an array, which will format it as a string with `\n` characters. This will let you send multi line messages in slack. eg.
[code]
in slacks appears as:
[code]

This runs fine, but after execution I get the following error:
[code]
I believe this has something to

[2017-04-26 14:27] stevenosloan commented on #71
Hey @llamicron, it looks like you're calling the original `#ping` twice in your method, once with the joined array and again w/ the original message.

[code]
It's that second call that causes the error since slack-notifier isn't designed to take an array as an argument.

[2017-04-30 06:11] llamicron commented on #71
@stevenosloan You're absolutely right. I've since refactored that method and it works fine now. Sorry for the inconvenience.

[2017-04-30 06:11] #71 closed

[2017-05-01 03:19] stevenosloan commented on #71
No worries, glad that's working for you :)

[2017-05-08 18:14] alexjfisher opened #72 "How to use http proxy"
Hi

I'm trying to use this gem to connect to slack through an http proxy. It looks like this should be possible by setting `http_options`, but so far, no luck.  Perhaps I'm doing something wrong.  There are setters for [proxy_address](http://ruby-doc.org/stdlib-2.2.0/libdoc/net/http/rdoc/Net/HTTP.html#method-i-proxy_address) and [proxy_port](http://ruby-doc.org/stdlib-2.2.0/libdoc/net/http/rdoc/Ne

[2017-05-08 18:46] alexjfisher commented on #72
I spent hours on this earlier before opening this issue.  Ten minutes after I do, I figure it out!  I was missing `proxy_from_env: false`.  It defaults to `true` and is this case, proxy_address is [ignored](https://github.com/ruby/ruby/blob/ruby_2_2/lib/net/http.rb#L1037-L1044).  I'll open a PR to update the readme with an example.

[2017-05-12 03:36] #72 closed

[2017-05-19 00:40] kcm opened #74 "Thread support?"
I'm trying to `post` with a `thread_ts` that I know corresponds to a thread's `ts` but it's still printed to the channel, not the thread in the channel. If I omit the `channel` parameter to the `post` call, it's not posted to the channel at all. How can I `post` a message to an existing thread?

Here's the [Slack Threading API docs](https://api.slack.com/docs/message-threading).

[2017-05-19 00:46] kcm commented on #74
Example:

`notifier.post text: "#{response}", thread_ts: "1234.56", channel: '#foobar'`

[2017-05-22 04:02] stevenosloan commented on #74
Unfortunately it doesn't look like the [webhook API](https://api.slack.com/incoming-webhooks) supports threads, so it's a bit out of scope of slack notifier. I'd suggest looking into one of the more full featured [slack clients](https://github.com/slack-ruby/slack-ruby-client#web-client) if you need it.

[2017-05-22 04:02] #67 closed

[2017-05-22 09:19] siegy22 opened #75 "Raise on API Error?"
Hey man, it's been a time since I worked on this. But I just added it to a project and experienced that when the API call fails, it just returns the HTTP repsonse. IMO this should definitely throw an error.
What do you think @stevenosloan?
If you're okay with raising an error I could work on a PR to achieve this.

Cheers 🍻

[2017-05-22 13:24] siegy22 commented on #75
See #76 for reference

[2017-05-22 20:03] kcm commented on #74
Confirmed with Slack that the webhook API does not currently support threads, but they are considering it for the future. Thanks.

[2017-05-22 20:03] #74 closed

[2017-05-22 22:51] Anki-Jane commented on #40
Ditto, for releases we are always having to paste to multiple channels.

[2017-05-26 15:03] Falkor opened #77 "Support for jruby-1.7.26 (1.9.3-p551)"
I would like to use the `slack-notifier` gem on the latest version of [Puppet Servers](https://docs.puppet.com/puppetserver/latest/release_notes.html) which embed unfortunately only jruby 1.7.26 (running 1.9.3p551 ruby).

[code]

So far, `slack-notifier` fails on this version:

[code]

Is there a chance you can make your code backward compliant for this version of Ruby ?  I confess I don't know ho

[2017-05-27 04:41] stevenosloan commented on #77
Yeah, at this point w/ the 2.x line I don't think we'll support older syntax -- *but* if you drop back to `1.5.1` I think that should work for you.

[2017-05-27 09:51] kntmrkm opened #79 "Error when upgrade to `2.2.0` from `2.1.0`"
[code]

just me?

[2017-05-27 14:07] dawidof commented on #79
Got the same

[2017-05-27 14:13] dawidof commented on #79
[code]

[2017-05-28 02:04] ened commented on #79
Quickfix, in your application.rb:

[code]

before `Bundler.require(*Rails.groups)`.

Root cause might be in https://github.com/stevenosloan/slack-notifier/blob/master/lib/slack-notifier/util/http_client.rb#L5

[2017-05-28 05:07] llamicron opened #80 "uninitialized constant Slack when requiring slack-notifier"
Stack trace:
[code]

[2017-05-28 05:07] llamicron commented on #80
This is a duplicate issue

[2017-05-28 05:07] #80 closed

[2017-05-28 05:10] llamicron commented on #79
@ened That worked for me. I'm not using rails. You say to declare that before `Bundler.require(*Rails.groups)`, for anyone else using rails, this means before the gem is required. Thanks.

[2017-05-28 13:14] renchap commented on #79
BTW this is fixed in #78

[2017-05-28 16:05] ened commented on #79
@renchap @dawidof let's fix it once and for all and starts a CI server

[2017-05-28 21:54] dawidof commented on #79
@ened how do you want to fix it? PR is already waiting and it looks ok.

[2017-05-29 04:39] giedriusr commented on #79
How did it happen that the release is broken? No one tested before releasing? Why it is not merged yet.

[2017-05-29 05:27] llamicron commented on #79
Looks like it hasn't been built and pushed to rubygems.org yet. @stevenosloan when can we expect a push, now that #78 has fixed this issue?

[2017-05-29 05:53] pwim commented on #79
@giedriusr This is an issue to do with requires, so testing it is tricky. I'm assuming within the context of the specs, because of the order files are required, things work properly. Off hand, I can't think of an easy way to test requiring a gem within a Rails project, and I think most Ruby gems would be susceptible to a similar issue slipping in.

As to why the maintainer has merged it yet, there

[2017-05-29 06:47] #75 closed

[2017-05-29 07:03] siegy22 commented on #79
I'm sorry to have introduced this bug in 2.2.0.. I wrote tests to test the new "feature" in #76. They all passed as you can see in the PR. @giedriusr

@pwim Thanks for the detailed explanation and your nice behaviour.

This will be fixed soon! 💚  (thanks to @pocke for the extrem fast opened PR)

[2017-05-29 21:49] stevenosloan commented on #79
Hey y'all, just pushed up `2.2.1` with the fix -- apologies for letting that sneak in. I am a little surprised that it didn't get picked up when the specs run on Travis, but it looks like running things with bundle exec manipulates things in such a way it's able to run.

[code]

[2017-05-29 21:49] #79 closed

[2017-06-01 23:33] pfletch1023 commented on #67
Any plans to re-open this issue? Would really appreciate ability to include a file attachment.

[2017-06-02 00:51] stevenosloan commented on #67
@pfletch1023 unless slack starts supporting file uploads through [incoming webhooks](https://api.slack.com/incoming-webhooks) (the method this gem uses to communicate with slack) I don't believe so.

[2017-06-29 03:17] carolfly86 opened #84 "Slack::Notifier::APIError: The slack API returned an error: action_prohibited (HTTP Code 500)"
I got 500 error with simple test code. any idea what is missing?
[code]

[2017-06-29 03:29] carolfly86 commented on #84
it turns out the webhookurl is invalid.

[2017-06-29 03:29] #84 closed

[2017-07-24 04:47] giedriusr opened #85 "Errors after upgrade from 2.1.0 => 2.2.2"
Hello,

Upgraded recently the gem and started getting these weird errors:
[code]

When testing in cli, everything seems to be normal, I get the message in the channel. What could be an issue?

Thank you

[2017-07-24 04:54] giedriusr commented on #85
Ok, apparently, this exception was added to notify if something is wrong and in my case I am missing some content.

[2017-07-24 04:54] #85 closed

[2017-07-24 10:05] PavelStryhelski commented on #40
Can it updated in such a way:
if slackSend channel: contains comma separated addresses, first of all split addresses in a [] and then just perform .each for every channel?

[2017-08-02 04:14] stevenosloan commented on #40
You can do this now with version [2.3.0](https://rubygems.org/gems/slack-notifier/versions/2.3.0) by passing an array of channels to the `:channel` param. For example:

[code]

[2017-08-03 13:02] mlen108 opened #86 "Support for `update` endpoint?"
I can't see it from codebase/examples but has this project got support for [chat.update](https://api.slack.com/methods/chat.update) method?

[2017-08-03 19:59] stevenosloan commented on #86
It does not, it's just hitting the [webhook interface](https://api.slack.com/incoming-webhooks) not the API

[2017-08-04 12:14] mlen108 commented on #86
I see - sorry I've missed the differences.

[2017-08-04 12:14] #86 closed

[2017-08-09 15:28] oishika commented on #40
@stevenosloan how would you use that for a bunch of private channels? and can you post images as well or does it always have to be text?

[2017-08-12 19:01] stevenosloan commented on #40
You'd specific private channels just the same, they just don't have the `#` before their name. Images, attachments, etc work the same as any other message. To post a gif for example:

[code]

And it will appear like

| screenshot |
| ---- |
| <img width="637" alt="screen shot 2017-08-12 at 2 59 49 pm" src="https://user-images.githubusercontent.com/868115/29243530-f0a230e2-7f6e-11e7-95db-1dda844767

[2017-09-04 04:17] uzaif313 opened #89 "is it possible notify with image"
i want to send image with `ping` method it is possible ?

[2017-09-04 20:21] stevenosloan commented on #89
It is, you just include the url in the text field, here's an example: https://api.slack.com/docs/messages/builder?msg=%7B%22text%22%3A%22hello%20https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FLfCt1sR1VweBy%2Fgiphy.gif%22%7D

[2017-09-05 07:39] siegy22 commented on #89
@uzaif313 if you're thinking about sending an image as an attachment, it's not possible through incoming webhooks at the moment. (see https://github.com/stevenosloan/slack-notifier/issues/57)

[2017-11-08 14:26] praxeum opened #92 "Is there any way to include a markdown blockquote in a message?"
If I just do this:

[code]

The end result is

[code]

...but ideally I'd like that arrow to be formatted in Markdown when brought into Slack so it becomes a blockquote. Any idea how that can be done?

[2017-11-09 04:26] elloboblanco opened #93 "Newlines in message not shown properly in Slack"
Writing a message like this

[code]

Results in a Slack message like this

![image](https://user-images.githubusercontent.com/3503873/32588352-62e37994-c4cb-11e7-9031-7230b29c0284.png)

[2017-11-09 04:30] elloboblanco commented on #93
Scratch that, using double quotes did the trick for me

[code]

[2017-11-09 04:30] #93 closed

[2017-12-22 05:27] prabs401 opened #95 "`split': bad URI(is not URI?): (URI::InvalidURIError)"
# How to solved this ?
# #`split': bad URI(is not URI?): (URI::InvalidURIError)

`require "net/https"`
`require "uri"`

`puts "input target : "`
`target = getsd`
`uri = URI.parse(target)`
`http = Net::HTTP.new(uri.host, uri.port)`
`http.use_ssl = true`

`request = Net::HTTP::Get.new(uri.request_uri)`
`res = http.request(request)`

`res.code`

[2017-12-22 17:12] stevenosloan commented on #95
hey @prabs401 could you provide some more detail of how you're using slack-notifier to run into this? (along w/ what version)

[2017-12-29 20:36] revof11 opened #97 "ability to upload file"
Do we have the ability to upload a file to a channel via this?  I don't see anything immediately obvious.

[2017-12-29 20:41] revof11 commented on #97
Answered my own question:
https://stackoverflow.com/questions/35742775/is-it-possible-to-post-files-to-slack-using-the-incoming-webhook

It's not possible.

[2017-12-29 20:41] #97 closed

[2018-01-11 05:04] stevenosloan commented on #92
Doing a little issue pruning, and seems like this is resolve 😄  — lemme know if you feel like it's not.

[2018-01-11 05:04] #92 closed

[2018-01-11 05:05] stevenosloan commented on #89
Doing a little issue pruning, and seems like this is resolved 😄  — lemme know if you feel like it's not.

[2018-01-11 05:07] stevenosloan commented on #95
Doing a little issue pruning, feel free to open this back up w/ some more reproduction information when you have it.

[2018-01-11 05:07] #95 closed

[2018-01-11 05:08] #89 closed

[2018-01-11 05:08] stevenosloan commented on #77
Doing a little issue pruning, and seems like this is resolve 😄  — lemme know if you feel like it's not.

[2018-01-11 05:08] #77 closed

[2018-01-11 05:09] stevenosloan commented on #18
Think I've let this one slip on by for long enough I'm going to go ahead and close it up 😬

[2018-01-11 05:09] #18 closed

[2018-03-24 00:21] samstickland opened #98 "Error in link formatting for HTML links"
Hi,

When I pass the seemingly valid string to Slack::Notifier:

```"*On <a href=\"http://localhost:3001/\">http://localhost:3001/</a>*\n\n*<a href=\"http://localhost:3001/admin/contractors/1\">David Cameron</a>'s membership has been rejected by Duncan Stuart*\n\n*Rejection Notes*\n\nUnsuccessful PM\n\n"```

I get the following error:

[code]

It works fine without any HTML links. If there somethi

[2018-03-24 14:29] samstickland commented on #98
Hmm.. There is something weird with my string encoding, since in the debugger copying and paste the string contents into itself (i.e. `string = "...."`) allows the code to continue without an error

[2018-03-24 14:34] samstickland commented on #98
Although.. doing this in the debugger, inside `sub_html_links`, just before `string.gsub(HTML_PATTERN) do`

[code]

What on earth? I am completely stubbed

[2018-03-24 15:24] samstickland commented on #98
Rails 'bug' is here:

https://github.com/rails/rails/issues/3496

The problem seems to be that the Regexp global variables aren't truly global:

[2018-03-25 17:14] stevenosloan commented on #98
You've dug in a bit more so I'd trust your judgement, but seems like [working with a match object](https://github.com/pvdb/faraday/commit/ad94eab5063a7bd2db4f71e1e39067d68d159cd0) instead of `Regexp.last_match` would be a good fix? (I think I prefer the readability of that anyway)

[2018-03-26 17:23] samstickland commented on #98
Unfortunately I don't believe that will work:

Which apparently means that you’ll always get a single argument denoting the entire regexp match, rather than all the matched groups as arguments.

For now we're doing this `String.new(string)` before passing the string to slack-notifier

[2018-04-04 22:12] sunsheeppoplar commented on #30
I'm having this issue while running an unrelated RSpec test... I'll report back if there's anything substantial

[2018-04-04 22:33] sunsheeppoplar commented on #30
Turns out my `devise.rb` initializer was trying to run in the test environment where the key for that doesn't exist...

[2018-04-13 08:20] zedtux opened #99 "Is the stack trace limited?"
It looks like I have an exception posted on a Slack channel with a limited stacktrace, so is it limited? If it is, is there an option to no more limit it and get it fully?

[2018-04-15 17:35] stevenosloan commented on #99
Hey @zedtux could you link an example of how you're posting the exceptions? I don't think there's anything in this gem that would limit your output and that'd be very helpful to debug your issue.

[2018-04-17 11:14] zedtux commented on #99
Hey @stevenosloan.

[code]

The problem is that slack-notifier is using the full stack, not the app stack, and in Slack only the 5 first lines are visible so that if the app stack starts after line 5, we have no idea where it come from.

We had to add the email notifier in addition to the slack one because in the email notifier we have the app stack only, which is awesome for us to fix our issue.

[2018-04-17 21:07] stevenosloan commented on #99
It looks like the `ExceptionNotifier.` gem added support for configuring how many lines of the backtrace get passed along (https://github.com/smartinez87/exception_notification/pull/353), this is a space I'm not particularly familiar with but seems like some configuration to [`ActiveSupport::BacktraceCleaner`](http://api.rubyonrails.org/classes/ActiveSupport/BacktraceCleaner.html) would allow redu

[2018-04-18 05:53] zedtux commented on #99
Thank you @stevenosloan for pointing me to this option that I wasn't aware of.

Just my point of view: To me it is strange that the email and the slack notifier aren't showing the same backtrace. Out-of-the-box the slack notifier looks useless because no application have zero dependencies, and a dependency trace will, almost all the time, be on top of the backtrace.
The slack notifier should show

[2018-04-18 11:24] zedtux commented on #99
I tried to play with `ActiveSupport::BacktraceCleaner` but this is impacting the entire application, while we want to clean the backtrace only with the slack notifier.

@stevenosloan the email notifier seem to use this to cleanup the backtrace.

[2018-06-28 22:23] Vialonyx opened #101 "Slack Notifier & Singleton ?"
Hi,
Is it possible to use this gem with a singleton ?
It would be easier than creating an instance each time.

Thanks.

[2018-06-28 22:54] stevenosloan commented on #101
Not direclty on the Slack::Notifier class, I can't think of a reason storing it elsewhere would be problematic. You could create a const to act as one (or store in on an app instance, etc)

[code]

Depending on your use case there may be a more applicable, nuanced solution ([there are a few good ones here](https://dalibornasevic.com/posts/9-ruby-singleton-pattern) if you're looking for some altern

[2018-06-29 12:01] Vialonyx commented on #101
Thank you for your prompt response.
I will use one of these solutions.

[2018-06-29 12:01] #101 closed

[2018-07-23 19:30] siliang625 commented on #40
Hello, just wondering is this feature supported in python?

[2018-07-24 15:17] stevenosloan commented on #99
@zedtux  if you're still having trouble with this please follow up with the [ExceptionNotification](https://github.com/smartinez87/exception_notification) gem since that's where the backtrace trimming is happening not in the slack-notifier gem.

[2018-07-24 15:17] #99 closed

[2018-07-24 15:19] stevenosloan commented on #40
@siliang625 I think that will depend on how you're using slack in python (which library, apis, etc)

[2018-08-19 16:28] ranle commented on #51
Ok, figured it out.
Each user has a unique `member id`.
Sending the message to `@member-id` works.
Sending it to `@username` does not work anymore.

See image.
![image](https://user-images.githubusercontent.com/6637082/44310840-9c4e1000-a3e5-11e8-8378-6e8ee5e030fb.png)

[2018-08-20 07:48] siegy22 commented on #51
I can agree on the statement from @ranle, apparently with users which exist since beginning of 2017 or earlier, it works with the display name. With newer ones it doesn't work anymore.

[2018-09-02 14:42] ramielian commented on #40
https://gist.github.com/ramielian/64e7f27630d66e9c9ad163cfbf11edcb

[2018-09-04 13:14] siegy22 commented on #40
@ramielian What's your point with your php script? 😄
This is a ruby library which makes interacting with the slack API easier (~about what your `slackService` function does).

[2018-09-07 23:11] stevenosloan commented on #51
Added a quick summary to the `channel` docs https://github.com/stevenosloan/slack-notifier/commit/4bf6582663dc9e5070afe3fdc42d67c14a513354, please PR if that's unclear or missing anything 😅

[2018-09-10 08:40] siegy22 commented on #51
Thanks! @stevenosloan

[2018-09-10 14:34] leandropessoa30 commented on #51
@stevenosloan
Incredible, it would be even better if it were possible to read slack messages.

Thanks for sharing!

[2018-10-18 15:32] krsyoung commented on #51
Hi folks, thanks for documenting this update.  Very helpful!

One clarification, when I created my Incoming Webhook I had to specify the channel it posts to.  So when I try the above, no matter what uid I reference it posts to `#general`.  @ranle did you do something special to create a webhook that can DM any user?

[2019-01-28 17:18] patcon opened #104 "Allow support for legacy/bot tokens, not just webhooks"
Hi @stevenosloan! Thanks so much for this tool!

Might you be willing to accept a PR that allowed it to work not only with webhooks, by using legacy or bot api tokens? This would ideally allow the ability to set username and avatar.

(I'm trying to make a team tool that I would empower any team member to set it up, and I hope to avoid resulting messages confusingly coming from the user who supplie

[2019-02-16 22:40] fabsrc opened #105 "Error in link formatting for markdown links inside parenthesis"
The link formatting does not work correctly if a markdown link is nested inside parenthesis.

### Example

**Input**

[code]

**Expected Result**

[code]

**Actual Result**

[code]

[2019-05-01 01:26] rodeezy opened #107 "tagging someone does not tag them"
the at: keyword creates "@[name]" (as a string in the message) but it doesn't ping them

[2019-05-10 19:55] morshedalam opened #108 "Notification seems not send always"
I have an `Account` model where account has many `Matter`. On creating matter, system send notification to a private slack channel configured with associated account.

On slack `Incoming WebHooks` configuration every channel has different hook url but I only configured one in to my app environment which seems not send messages always to all channels - `https://hooks.slack.com/services/TXXXXXX/BXXX

[2019-05-15 20:46] rnhurt opened #109 "Does this gem support Slack's new 'block' message format?"
Slack recently (early 2019) introduced [block messaging formats](https://api.slack.com/messaging/attachments-to-blocks).  I've tried to use the normal workflow with this Gem but it doesn't seem to handle it properly.  Is there some option that I don't know about or does this Gem need to be updated to handle this new functionality?

[2019-05-17 14:55] rnhurt commented on #109
I was incorrect in my earlier assumption; this Gem can use the new functionality without any changes.  Instead of posting `attachments`
[code]

you just have to post `blocks`
[code]

[2019-05-17 14:55] #109 closed

[2019-08-29 20:49] RagnarGrootKoerkamp opened #112 "Markdown links containing [ and ] are broken"
The library doesn't allow `[` and `]` inside a markdown link text to occur, while the spec allows:
- matching, unescaped `[` and `]`
- escaped `\[` and `\]`.

(I came here via https://gitlab.com/gitlab-org/gitlab-ce/issues/66601, where the formatting of commit messages is broken when the message includes `[` and `]`. I'd try to solve it on the gitlab side, but that's only possible when escaped bra

[2019-08-30 16:14] amrrbakry opened #113 "ping with channel option does not override webhook channel"
I created an incoming slack webhook and chose a public channel (let's call it channel x) and I can send messages to this channel normally, but if I try to send messages to a different channel (using the channel option) on the same webhook, it does not work and sends the message to channel x

[code]

I'm not sure if slack disallowed this recently or what but it's not working now

I'm using slack-no

[2019-08-31 00:03] agustinv commented on #113
Im pretty sure you cant do this anymore.  Incomming webhooks are only for one channel.
https://api.slack.com/incoming-webhooks

[2019-08-31 00:49] amrrbakry commented on #113
okay, I think it should be removed from the README that you can override the channel

[2019-11-02 17:13] omarshammas commented on #107
You might find this helpful @rodeezy
https://api.slack.com/messaging/composing/formatting#mentioning-users

Try `<@[name]>` or `<@[slack_id]>`

[2019-12-23 09:15] cimm opened #114 "Usernames with spaces"
We are using the `at` param to mention a Slack user when posting messages:

[code]

This works fine for "waldo" and "jane9" but doesn't work for usernames with spaces, like "john doe" . Instead of the usual blue linked user we get `<@jane doe> hello`. I tried replacing the username with the user id but that doesn't help `@afgm13lm hello`.

Here is how it looks in Slack:

![](https://user-images.gi

[2020-01-02 16:27] nburt opened #115 "Ruby 2.7 deprecation warnings"
We just upgraded to Ruby 2.7 and are seeing some deprecation warnings:

[code]

I've also noticed that there hasn't been any new commits since 2018, is this library still maintained or should we switch to https://github.com/slack-ruby/slack-ruby-client?

[2020-01-12 23:32] timothyjosefik commented on #114
I was having the same problem. If you are using .post then don't add the @.

In your example it would be
`notifier.post text: "hello", at: "afgm13lm"`

If you are using .ping it is a bit different. In that scenario you need to surround it with `<>`
So using your example again it would be
`notifier.ping "<@afgm13lm> hello"`

[2020-01-14 13:19] cimm commented on #114
Thanks for the help but I doesn't seem to work. I tried a bunch of different versions and none seem to work. All these show the user in plain text instead of the highlighted Slack username.

[code]

[2020-01-14 13:30] cimm commented on #114
Aha, I was doing to lowercase on the userID! :man_facepalming: It works with the Slack userID when I **don't** lowercase the string.

[2020-01-14 13:30] #114 closed

[2020-02-22 20:20] stevenosloan opened #116 "⚠️ looking for a maintainer ⚠️"
It is painfully obvious at this point that I'm no longer maintaining this project, or really active in the ruby opensource community overall. I hit some hard burnout towards the end of 2018 which aligned with the time I was transitioned off of writing ruby primarily at dayjob ... making switching contexts back to work on ruby OSS even harder. I'm not sure if or when I'll be back, but I think this

[2020-02-24 13:27] siegy22 commented on #116
Hey @stevenosloan sorry to hear that.
I would he happy to help but I can't commit myself to fully maintaining and pushing development. What I can do, is trying to answer questions and review PRs and do little changes/fixes.

All the best! :)

[2020-03-09 09:41] Startouf commented on #74
Hey, Slack says webhooks now support threading !

https://api.slack.com/messaging/webhooks#threads

I've tested it and it works with the current slack notifier

Here is some sample code

[code]

[2020-03-21 00:38] anchit-desai opened #118 "Retry if post fails because of rate limiting"
Slack::Notifier#post (https://github.com/stevenosloan/slack-notifier/blob/master/lib/slack-notifier.rb#L40-L51) doesn't retry if it fails due to hitting the Slack API's rate limits. I've monkey-patched this in my company's codebase (it retries after `sleep(rand(1..10))` if an error is raised). Would it be helpful if I added that here too?

[2020-04-17 09:04] siegy22 commented on #118
I don't think that's the way to deal with an API rate limit, especially if it contains something like `sleep(rand(1..10))`. If you hit the rate limit, check why you're hitting it. Are you running a loop which does a lot of API requests which can be improved? Can you "verify" your application to not hit a rate limit as small as you're hitting it right now?

[2020-04-17 21:55] anchit-desai commented on #118
The functions that call the API are invoked by user actions, so it's hard for us to tell when these will occur.

[2020-06-11 08:33] stevebissett commented on #112
@RagnarGrootKoerkamp - Did you come up with a solution for this. I am also having this issue at the moment.

[2020-06-11 10:36] RagnarGrootKoerkamp commented on #112
https://gitlab.com/gitlab-org/gitlab/-/issues/31263#note_215961096
That fixed it for me at the time: I just create slack formatted links directly in gitlab instead of having markdown links converted to slack links at a later point.

Not sure if it still works though; I lost those local changes after updating and didn't bother to make them again.

[2020-06-11 11:45] RagnarGrootKoerkamp commented on #112
Here's a page explaining a general regex for matching links in markdown: https://medium.com/@michael_perrin/match-markdown-links-with-advanced-regex-features-fc5f9f4122bc

It uses the following for matching the `[..]` part:
[code]

I'd hope that putting that bit of code [here](https://github.com/stevenosloan/slack-notifier/blob/master/lib/slack-notifier/util/link_formatter.rb#L25) should do the tr

[2020-06-14 13:38] stevebissett commented on #112
Thanks @RagnarGrootKoerkamp - I landed up working around this by going the conversion before using the Slack formatter, because it was easy to do so in my use case.

I did have a go at trying to adjust the regex's and markdown handling to support this but I haven't managed to find working code that makes the spec pass. I am not all that familiar with Regex's at this complexity.

I have pushed up a

[2020-07-18 13:58] georgemabey commented on #109
@rnhurt What format should `message` be to get blocks to work?

I'm currently sending this JSON in the `message` parameter, but it's saying the blocks are invalid:

[code]

[2020-07-27 17:24] splinterific commented on #116
Hey @stevenosloan , are you still looking for a maintainer/help regarding this? Would love to have a chat if so (or perhaps with yourself @siegy22 ). If there's a better place to reach you, please let me know.

[2020-08-18 19:24] chrishulton commented on #109
In case anyone else stumbles across this and is wondering about the message format, the `blocks` parameter refers to the blocks array, ex:

[code]

[2020-08-24 10:00] paprikati commented on #107
Is this still an issue? If so can you give a code block that we can reproduce?

[2020-08-24 10:05] paprikati commented on #116
Hi - also keen to help out here if you're still looking / @siegy22 and @stevenosloan

[2020-08-24 10:15] paprikati commented on #118
I personally think the implementation of a backoff strategy is going to vary for each caller. I'm not sure there's a nice 'standard' approach we could apply within the gem that would be useful for lots of people

[2020-08-24 10:19] paprikati commented on #108
If you have a slack webhook link `https://hooks.slack.com/services/Txxx/Bxxx/xxxx` then you should be able to choose the channel as you suggest in your code snippet.
You don't need to use a different webhook url for each channel, nor do you need to initialise a new client.

Does that help?

[2020-08-24 12:14] rjhancock commented on #118
https://api.slack.com/docs/rate-limits , specifically under `Responding to rate limiting conditions`, will give you a time interval to use instead of the `sleep` command.

Probably a better approach.

[2020-08-24 14:32] paprikati commented on #118
that could work as something reusable - how do we feel about whether it should be enabled or disabled by default?

[2020-08-24 14:41] rjhancock commented on #118
I think it's something that should be non-optional. Have the gem just handle it and make a note in the documentation.

[2020-08-24 17:14] paprikati commented on #118
should we retry infinitely? that seems sad... or keep a count of the number of attempts and cap it at 2 or 3? wdyt

[2020-08-24 17:16] rjhancock commented on #118
I think utilizing the Retry content would be fine as eventually it'll get through unless someone is doing a very high volume of messages.

[2020-08-25 08:57] paprikati commented on #118
I don't think retrying infinitely is a good idea as you can potentially lock up the thread forever (e.g. if you have some other service that is hammering slack for some reason, and you are sending slack messages in your production process rather than in a worker). I agree it requires a weird set of bugs to happen, but I wouldn't want to bring someone down like that (it would be super sad)

I propo

[2020-09-08 08:51] jmgarnier commented on #116
In the meanwhile https://github.com/shoyan/slack-incoming-webhooks/ works well for simple web hooks

[2020-12-04 21:01] erick-umc commented on #107
<@[slack_id]> works fine. Is there a way to rerieve a list of all users? I saw that slack has the "user.list" method available.

[2020-12-09 03:13] dostaglou commented on #107
Is there a way to make this work with groups? I thought maybe using the `<!group_name>` might work but it doesn't. Slack doesn't directly indicate what each group's id is, but I tried to infer it from the http address when looking at groups but couldn't get the `at:` option to work with the values I passed to it so either the ids there are not the group ids* or the at: feature just doesn't conside

[2020-12-09 05:56] dostaglou commented on #107
For my own question I managed to find a solution. Just as you can name a channel `<!channel>` you can name a group with `<!subteam^GROUP_ID>`. The Group ID is the id you will see in the web-address when you search through the group listing.

[2021-01-17 05:58] nicobrenner commented on #113
Thank you @amrrbakry for creating this issue. Came here looking for this. Was very confused about messages going to a completely different channel than I was providing as a parameter. Basically the `channel` parameter is useless when calling `Slack::Notifier.ping`.

[2021-02-09 18:51] matthewkrom opened #124 "Ruby 3.0.0, LinkFormatter, positional/keyword/default arguments issue on #initialize"
The last code update for this repo is from Sept 2018, and it looks like at least one method does not support the Ruby 3.0.0 changes to keyword/positioned/default arguments, as shown below.  Using #ping on the Notifier results in an ArgumentError in the LinkFormatter.

Is this still an active project, or has the team moved on to a different gem for Ruby 3?

[code]

[2021-02-09 19:04] matthewkrom commented on #124
I've monkey-patched for the very short term, using the initializer below, which tests fine in my (possibly limited) use case. Could someone more familiar with the project report on whether the code base overall should/could support Ruby 3.0.0?

[code]

[2021-02-16 21:09] matthutchinson commented on #124
I have this same issue, your patch worked for me, would be nice to see this fixed in the gem.

[2021-02-16 21:19] matthutchinson commented on #124
Actually I think this handles the case where you don't pass any format argument

        def initialize string, in_opts = { formats: nil }
          opts = in_opts || {}
          @formats = opts[:formats] || %i[html markdown]
          @orig    = string.respond_to?(:scrub) ? string.scrub : string
        end

right now calling `Slack::Notifier::Util::LinkFormatter.format("some message")` and your

[2021-02-17 12:29] punitcse commented on #124
PR https://github.com/stevenosloan/slack-notifier/pull/123 should solve the issue once merged.

[2021-04-17 06:30] benjaminfauchald commented on #50
This is great.

[2021-05-02 03:25] cameronbarker commented on #124
👍

[2021-05-07 20:05] stevenosloan commented on #115
resolved with https://github.com/stevenosloan/slack-notifier/pull/123

[2021-05-07 20:05] #115 closed

[2021-05-07 20:07] stevenosloan commented on #124
https://github.com/stevenosloan/slack-notifier/pull/123 was merged and a new version cut, so this should be resolved.

[2021-05-07 20:07] #124 closed

[2021-09-14 06:21] bs90 opened #128 "Is there any way to send postEphemeral?"
https://slack.com/api/chat.postEphemeral

[2021-09-15 07:15] #128 closed, assigned to nobody

[2021-10-12 01:07] pedrofurtado opened #131 "Exclusion of inactive/merged branches"
@stevenosloan @siegy22 We can delete the inactive/merged branches 🍻 , to clean up the repo 👍

[2021-12-18 23:42] NourEldinShobier opened #132 "channel and username params doesn't work"
Firstly, Thanks for this cool gem 🙌

I have a question, whenever I try to change the `username` or `channel` params values nothing happens, Is there something I'm missing?

[2021-12-19 02:33] NourEldinShobier commented on #132
One more question, is it possible to ping a specific user instead of a channel?

[2022-01-11 14:11] siegy22 commented on #132
Haven't been using this for a while, but could be related to: https://github.com/slack-notifier/slack-notifier/pull/130/files#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4edR3

[2022-09-08 13:57] ShirNa10 opened #134 "Customize private messages webhook bot"
Hello,
I wanted to know if there is a way of customizing the current way how messages are sent to a private user.
when I only overwrite the channel_url with the member_id, I get the notification to the user's Slackbot from incoming-webhook.
Is there a way of changing it? (I'm aware of the as_user option but I still want it to be sent from a bot with a more friendly and meaningful name)
thanks!